@import '../../global.scss';

.board {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    .tile {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        &.light {
            background-color: sandybrown;
        }
        &.dark {
            background-color: chocolate;
        }
        .icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 50px;
            &.w {
                color: white;
            }
            &.b {
                color: black;
            }
        }
    }
}